In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [ ]:
def init_browser():
    executable_path = {"executable_path": "c:/bin/chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [2]:
browser = init_browser()

In [9]:
#News Title
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")

news_section = soup.find('div', id='page')
news_title = news_section.find('h3')

print("news_title = " + news_title.text)

news_title = NASA Readies Perseverance Mars Rover's Earthly Twin

In [10]:
# News Paragraph
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")


# Print one paragraph texts
paragraph = soup.find('div', class_='article_teaser_body')

print("news_p = " + paragraph.text)

news_p = Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

In [11]:
#Featured Image

url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

element = browser.find_by_id('full_image')
details = element['data-link']
image_url = "https://www.jpl.nasa.gov" + details
browser.visit(image_url)
featured_element = browser.find_by_tag('figure')
featured_element_sub = featured_element.find_by_tag('a')
featured_image_url = featured_element_sub['href']
print ("featured_image_url = "+ featured_image_url)

featured_image_url = https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19330_hires.jpg

In [12]:
#Mars Facts
url = 'https://space-facts.com/mars/'
    
tables = pd.read_html(url)

#tables[0].head()
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [14]:
#Mars facts to html table
html_table = df.to_html()
html_table.replace('\n', '')
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [29]:
#Mars Hemispheres

url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")

#Create Dicttionary
hemisphere_image_urls = []
img_url = {}
title = {}

# Find titles and image urls
element = soup.find('div', class_="collapsible results")
element_sub = element.findAll(class_="item")

for item in element_sub:
    title_section = item.find('div', class_="description")
    title_sub_section = title_section.find('a', class_='itemLink product-item')
    title = title_sub_section.find('h3')
    
    image_section = item.find('a', class_="itemLink product-item")
    image_page = image_section['href']
    image_link = "https://astrogeology.usgs.gov" + image_page
    browser.visit(image_link)
    
    html = browser.html
    soup = bs(html, "html.parser")
    image_page_section = soup.find('div', id='wide-image')
    image_page_sub_section = image_page_section.find('img', class_='wide-image')
    img_link = image_page_sub_section['src']
    img_url = "https://astrogeology.usgs.gov" + img_link
    hemisphere = {"title": title.text, "img_url": img_url}
    hemisphere_image_urls.append(hemisphere)

print("hemisphere_image_urls = " + hemisphere_image_urls)

TypeError: must be str, not list