In [11]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [12]:
def init_browser():
    executable_path = {"executable_path": "c:/bin/chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [7]:
browser = init_browser()
news_title = {}

url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")

news_section = soup.find('div', id='page')
news_title = news_section.find('h3')

print(news_title.text)

NASA Readies Perseverance Mars Rover's Earthly Twin

In [4]:
browser = init_browser()
news_title = {}

url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")


# Print one paragraph texts
paragraph = soup.find('div', class_='article_teaser_body')

print(paragraph.text)

Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

In [20]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

html = browser.html
soup = bs(html, 'html.parser')



#featured_image_url = soup.find('a', class_='data-fancybox-href')
images = soup.find('a', class_='fancybox-image')
                               
for image in images:
    print('href')


browser.click_link_by_partial_href('spaceimages')

#button = browser.links.find_by_partial_text('Next')
#button.click()

#browser.click_link_by_partial_href('spaceimages')

TypeError: 'NoneType' object is not iterable

In [ ]:
button = browser.links.find_by_partial_text('Next')
button.click()

In [29]:
#Mars Facts
url = 'https://space-facts.com/mars/'
    
tables = pd.read_html(url)

#tables[2].head()
df = tables[1]
df.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [30]:
#Mars facts to html table
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'